@model IEnumerable<onTrax.Models.Issue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4 style="color:red">Archived Issues</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssueName)
        </th>
        <th></th>
    </tr>
    @if (Model != null && Model.Count() > 0)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueName)
                </td>
                <td>
                    @Html.ActionLink("Activate", "Activate", new { IssueID = item.IssueID }, new { @class = "badge badge-success badge-pill m-1" })
                </td>
            </tr>
        }
    }
</table>

<div>
    @Html.ActionLink("Back", "Index", "Manage", null, new { @class = "btn btn-primary" })
</div>


