@{

    ViewBag.Title = "Data Management";
}

        <div class="m-auto text-center" >
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="font-size:200px;"></span>
        </div>


        <div class="row m-2 text-center">
            <div class="col-12 m-auto">
                @Html.ActionLink("Log Production Data", "Log", "Data", null, new { @class = "btn btn-primary btn-lg col-3 m-auto" })

                @Html.ActionLink("Edit Production Data", "Edit", "Data", null, new { @class = "btn btn-success btn-lg col-3 m-auto" })
            </div>
        </div>