@{

    ViewBag.Title = "Home";
}
<ul>
    <li><a href="~/Help/onTraxQRG.pdf">Quick Reference Guide</a></li>
    <li><a href="~/Help/onTraxUserGuide.pdf">User Guide</a></li>
    <li><a href="~/Help/onTraxDeveloperGuide.pdf">Developer Guide</a></li>
    <li><a href="~/Help/Code/" target="_blank">Code Documentation</a></li>
    <li><a href="~/Help/onTraxSQLScripts.zip">Download SQL Scripts</a></li>
</ul>