<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/97d03921-0327-43d9-a8ec-47e57450a801/resourceGroups/woomontrax/providers/Microsoft.Web/sites/woomontrax/slots/dev</ResourceId>
    <ResourceGroup>woomontrax</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://woomontrax-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>woomontrax-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>woomontrax__dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$woomontrax__dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="onTraxDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:woomontrax.database.windows.net,1433;Initial Catalog=ontrax;Persist Security Info=False;User ID=ontrax;Password=Woom2018;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:woomontrax.database.windows.net,1433;Initial Catalog=ontrax;Persist Security Info=False;User ID=ontrax;Password=Woom2018;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="onTrax.DAL.AppDbContext, onTrax" MigrationConfiguration="onTrax.Migrations.Configuration, onTrax" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="onTraxDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:woomontrax.database.windows.net,1433;Initial Catalog=ontrax;Persist Security Info=False;User ID=ontrax;Password=Woom2018;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>